p
{
	font-size: large;
    font-family: Calibri, Arial;
}
h5
{
	font-size: large;
    font-family: Calibri, Arial;
    text-align: left;
}
h4
{
	font-size: large;
    font-family: Calibri, Arial;
    text-align: center;
}
h1, h2
{
	font-size: x-large;
	font-family: Calibri, Arial;
	text-align: center;
}
h3
{
	font-size: x-large;
	font-family: Calibri, Arial;
}
body
{
	background-color: silver;
}
.logofloat
{
	float: left;
	font-size: 30%;
}