p
{
	font-size: large;
    font-family: Helvetica,Helvetica Neue, Arial, sans-serif;
}
h5
{
	font-size: large;
    font-family: Helvetica,Helvetica Neue, Arial, sans-serif;
    text-align: left;
}
h4
{
	font-size: large;
    font-family: Helvetica,Helvetica Neue, Arial, sans-serif;
    text-align: center;
}
h1, h2
{
	font-size: x-large;
	font-family: Helvetica,Helvetica Neue, Arial, sans-serif;
	text-align: center;
}
h3
{
	font-size: x-large;
	font-family: Helvetica,Helvetica Neue, Arial, sans-serif;
}

body
{
	padding:0;
	margin:0;
	background-color: var(--body-color);
}
.logofloat
{
	float: left;
	font-size: 30%;
}

.contenu-centre{
    margin:0 auto;
    max-width:1100px;
}


.blured-big-panel{
	margin:50px;
	padding:10px;
	border-radius:10px;
	position:relative;
	background-color:var(--panel-blue-semi-visible-color);
	box-shadow:1px 1px 2px 2px var(--panel-border-color);

}
p, h1,h2,h3,h4,h5{
		color:var(--common-text-color);
}

:root {
	--bleu-polytech:#009fde;
	--bleu-foncé-polytech:#004877;
  --body-color:rgb(240,240,240);
	--common-text-color:black;

	--bleu-polytech:#1d85c8;

	--panel-color:#d9edf7;
	--panel-blue-semi-visible-color:#d8ecf644;
	--panel-border-color:#bce8f1;
}
[data-theme="dark"] {
	--panel-color:#d8ecf644;
	--body-color:rgb(34,37,42);
	--common-text-color:rgb(230,230,230);
	--panel-border-color:black;
}
