#formulaire-upload-scan{
  padding:10px;
  width:50%;
  margin:0 auto;

}

#conteneur-formulaire-upload-scan{
    display:flex;
    flex-wrap:wrap;
    height:100%;
    width:100%;
    border-radius:8px;
    background-color:white;
    overflow:hidden;

}
.input-file{
    width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
}

.input-file + label {
    cursor: pointer; /* "hand" cursor */
    background-color: white;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    flex:1 1 75%;
}

.input-file:focus + label,
.input-file + label:hover {
   transform: scale(1.02);
    background-color: rgba(0,0,255,0.2);
}

.bouton-formulaire-upload{
    cursor: pointer; /* "hand" cursor */
      border: none;
      background-color: blue;
      color:white;
      height:60px;
      flex:1 1 25%;
}
#boutons-affichage{
  width:100%;
  display:flex;
}
#boutons-affichage button{
  flex: 1 1 100%;
}

#voir-scan{
  margin:0 auto;
  min-width:1000px;
  width:80%;

}

#zone-affichage{
  width:100%;
  display:flex;
}

.sous-zone-affichage{
  flex: 1 1 100%;

}
