#formulaire-upload-scan{
  padding:10px;
  width:50%;
  margin:0 auto;

}

#conteneur-formulaire-upload-scan{
    display:flex;
    flex-wrap:wrap;
    height:100%;
    width:100%;
    border-radius:8px;
    background-color:white;
    overflow:hidden;

}
.input-file{
    width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
}

.input-file + label {
    cursor: pointer; /* "hand" cursor */
    background-color: white;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    flex:1 1 75%;
}

.input-file:focus + label,
.input-file + label:hover {
   transform: scale(1.02);
    background-color: rgba(0,0,255,0.2);
}

.bouton-formulaire-upload{
    cursor: pointer; /* "hand" cursor */
      border: none;
      background-color: blue;
      color:white;
      height:60px;
      flex:1 1 25%;
}
#boutons-affichage{
  width:100%;
  display:flex;
}
#boutons-affichage button{
  flex: 1 1 100%;
}

#voir-scan{
  margin:0 auto;
  min-width:800px;
  width:100%;

}

#zone-affichage{
  width:100%;
  display:flex;
}

.sous-zone-affichage{
  flex: 1 1 100%;
  padding:4px;


}
.ediTable{
    cursor: pointer; /* "hand" cursor */
  }
.ediTable:hover{
  background:rgba(0,0,255,0.2);
}

.editTable-entry{
    bottom:10%;
    right:5%;
    width:110%;
    height:120%;

    position:relative;
    border:solid 2px blue;
    border-radius: 4px;
    z-index:10;
    background:white;
}
.Here-s-a-little-lesson-of-trickery{
  position:fixed;
  z-index:5;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,0.2);
}
